*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.flex{
  display: flex;
}
/* Header Start */
.header{
  background-color:#f7f8f8;
	box-shadow:  0 0 10px 0 rgb(0,0,0,0.2);
}
.headerLine{
	height:3px;
	background-color: rgb(244, 115, 7);
	border: none;
}
.main-Logo{
  width:150px;
}
.headerLogo{
  padding:5px 0px 10px 50px;
}
.headerContents{
  width: 20%;
  margin: 20px 3px;
  opacity: 0.5;
}
.headerSearch{
  width:54%;
  margin: 5px 10px;
}
.searchBar{	
  width:99%;
	/* margin: 5px; */
	padding: 10px 0;
	text-indent:5%;
	border: 1px solid #babfc4;
	background-image:url("../assets/icons/search.png");
	background-repeat: no-repeat;
	background-size: 5%;
	background-position: 0.2%;
	border-radius:5px;
}
.headerRight{
  /* flex:12%; */
  margin-right: 20px;
}
.button{
  padding:10px 9px;
	border: 1px solid  rgb(122, 167, 199);
	margin: 7px 2px;
	color: rgb(83, 142, 184);	
  border-radius: 5px;
	background-color:rgb(225, 236, 244);
}
.spaceevenly{
  display: flex;
  justify-content: space-evenly;
}
.spacebetween{
  display: flex;
  justify-content: space-between;
}
/* Header Over */

/* Left Main */
.leftMainContainer{
	height: 675px;
	overflow-y: scroll;
	overflow-x: hidden;
	flex:13%;
	border-right: 1px solid rgb(0,0,0,0.1);
  margin-left: 25px;
}
.home{
	margin-top: 35px;
}
.home, .collectives, .jobs, .public{
	padding-left: 10px;
}
.hr{
	padding:15px 10px;
	border-top:1px solid rgb(0,0,0,0.2);
	border-bottom:1px solid rgb(0,0,0,0.2);
	border-left:1px solid rgb(0,0,0,0.2);
	margin-bottom: 10px;
}
.teamLast{
	padding: 5px 15px;
}
.menuHeader{
	margin:0 0 10px 10px;
	line-height: 1.3;
}
.teamP p{
	line-height: 1.3;
}
.teamP span{
	font-weight: bold;
}
.home a,.collectives a,.jobs a,.public a, .teamLast a{
	color: black;
	opacity: 0.6;
	text-decoration: none;
	font-family: arial;
	font-size: 13px;
	margin-left: 3px;
}
.firstIcon{
	margin-top: 5px;
}
.menuSub{
	padding: 10px 0;
	font-size: 17px;
	opacity: 0.6;
}
.hidden{
	visibility: hidden;
}
.menuHeader{
	color: black;
	opacity: 0.6;
	text-decoration: none;
	font-family: arial;
	font-size: 11px;
}
.infoIcon{
	float:right;
	margin-right: 15px;
	font-size:15px;
}
.fa-certificate{
	color:#f48225;
}
.teams hr{
	margin:10px 0;
	opacity: 0.3;
}
.freeTeam{
	background-color:#0a95ff;
	border: none;
	border-radius: 7%;
	padding: 8px 18px;
	color: white;
	font-size: 12px;
}
.teamLast, .teamLast a,{
	padding: 15px;
	text-decoration: none;
}
.public, .collectives, .jobs, .teams{
	margin-top: 25px;
}
/* left Main Over */
.rightMainContainer{
	flex:82%;
	
	/*border: 1px solid blue;*/
	padding: 30px;
}
.rightMainTop{
  display: flex;
  justify-content: space-between;
}
.userDetails{
  display: flex;
}
.profileDp{
	width: 140px;
	height:140px;
	border-radius: 8px;
	background-image: url('../assets/images/profiledp.jpg');
	background-size: 140px;
	background-repeat: no-repeat;
}
.profileDetails{
	padding: 0px 15px;
}
.profileName, .profileQual, .profileExp, .profilePlace{
	padding: 1px 0;
	font-weight: regular;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Liberation Sans",sans-serif;
}
.profileQual{
	font-size: 25px;
	opacity: 0.7;
}
.profileExp, .profilePlace{
	font-size: 16px;
	opacity: 0.7;
}
.profileDetails i{
	margin: 0 3px;
}
.profileName{
	font-size: 40px;
	letter-spacing: 0.5px;
	font-weight: regular;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Liberation Sans",sans-serif;
}
.profileSelect{
	padding: 12px 10px;
	font-familly: arial;
	letter-spacing: 0.5px;
	border-radius: 3px;
	border: 1px solid rgb(0,0,0,0.2);
	outline:none;
	color: rgb(0,0,0,0.5);
	cursor: pointer;
}
.profileSelect:focus{
	box-shadow:  0 0 10px 0 rgb(0,0,0,0.1);
	outline: none;
}
.profileSelect:hover{
	background-color: rgb(0,0,0,0.05);
}
.rightMainSecond{
  display: flex;
	padding: 18px 0px;
}
.pro{
	border: transparent;
	border-radius: 25px;
	background-color: rgb(244, 115, 7, 0.8);
	padding: 10px 15px;
	color: white;
	letter-spacing: 0.5px;
	cursor: pointer;	
	margin-right: 5px;
}
.pro:hover{
	background-color: rgb(244, 115, 7, 1);
}
.acti{
	border: transparent;
	border-radius: 25px;
	background-color: transparent;
	padding: 10px 15px;
	color: black;
	letter-spacing: 1px;
	cursor: pointer;
}
.acti:hover{
	background-color: rgb(0,0,0,0.1);
}
.rightMainThird{
	color: rgb(0,0,0,0.7);
  display: flex;
}
.leftSection{
	/* float: left; */
	width:23%;
}
.leftSectionHead span{
	padding-top: 10px;
	font-size: 22px;
}
.font22{
	font-size:22px;
}
.communitiesHead{
  display: flex;
  justify-content: space-between;
}
.leftSectionCon{
	border: 1px solid rgb(0,0,0,0.1);
	padding: 10px;
	margin-top: 5px;
	border-radius: 5px;
}
.leftConCol{
	width:48%;
	line-height: 18px;
	/* float: left; */
	font-size: 18px;
	margin:10px 1px;
}
.leftConRow{
  display: flex;
  justify-content: space-between;
	padding-bottom: 15px;
}
.leftConCol span{
	font-size: 12px;
}
.leftspan{
	font-size: 14px;
}
.stats{
	margin-bottom: 20px;
}
.va span{ 
	font-size:12px;
	opacity: 0.7;
}
.leftLinkImg{
	width:20px;
	height: 20px;
}
.StackOverFlow{
	background-size: 20px;
	background-position: 1%;
	background-image: url('../assets/icons/stackIcon.png');
}
.superUser{
	background-size: 20px;
	background-position: 1%;
	background-image: url('../assets/icons/su.png');
	background-repeat: no-repeat;
}
.meta{
	background-size: 20px;
	background-position: 1%;
	background-image: url('../assets/icons/metas.png');
}
.area51{
	background-size: 20px;
	background-position: 1%;
	background-image: url('../assets/icons/area.png');
}
.pfam{
	background-size: 20px;
	background-position: 1%;
	background-image: url('../assets/icons/stack.png');
}
.leftLinkname{
	margin-top: 3px;
	padding-bottom: 15px;
	margin-left: 5px;
	color: rgb(35, 137, 205);
}
a{
  cursor: pointer;
}
.leftLinkvisitor{
	opacity: 0.5;
	margin-top:2px;
}
/* Main Section */
.mainSection{
	/* float: left; */
	width: 74%;
	margin-left: 30px;
}
.firstHeader{
	margin-bottom: 10px;
}
.mainSectionGPro, .mainSectionGPro a, .font16{
	font-size:16px;
}
.mainSectionGPro a{
	color: rgb(35, 137, 205);
}
.list, .list li{
	margin: 15px 0;
}
.bold{
	font-weight: bold;
}
ul.a{
	 list-style-type: disc;
	padding-left: 65px;
}
/* badge */
.badges{
	margin-top: 60px;
}
/* .badgebox1, .badgebox2{
	width:30%;
	margin: 3px 10px 5px 0;
	border: 1px solid rgb(0,0,0,0.2);
	padding: 15px 8px 15px 8px;
	border-radius:5px;
} */
.badgebox{	
	width:30%;
	margin: 3px 10px 5px 0;
	border: 1px solid rgb(0,0,0,0.2);
	padding: 15px 10px 15px 10px;
	border-radius:5px;
}
.font40{
	font-size: 40px;
}
.font25{
	font-size:25px;
}
.badgeCon{
	margin-top: 15px;
}
.badgeName{
	margin-left: 15px;
}
.gold{
	color: rgb(255, 204, 0);
}
.bronze{
	color:rgb(199, 128, 66);
}
.rcol{
	margin-left: 10px;
}
.angular{
	border: 1px solid rgb(0,0,0,0.2);
	padding:5px;
	border-radius:5px;
	background-color:rgb(0,0,0,0.05);
}
.angcon{
	margin-left:5px;
	opacity:0.7;
	font-size:12px;
}
.yellowcircle{
	width:8px;
	height:8px;
	border-radius:50%;
	background-color:rgb(255, 204, 0);
	margin-top: 4px;
}
/* tags */
.tags{
	margin-top: 25px;
}
.tagcol{
	padding:10px;
	border-bottom:1px solid rgb(0,0,0,0.2);
}
.tagcircle{
	width:8px;
	height:8px;
	border-radius:50%;
	background-color:rgb(255, 204, 0);
	margin-left: 10px;
	margin-top: 10px;
}
.tagsbox{
	border: 1px solid rgb(0,0,0,0.2);
	border-radius: 5px;
}
.tagcolcon{
	background-color: rgb(184, 216, 239,0.6);
	padding: 5px;
	color: rgb(66, 135, 245, 0.8);
}
.opacity5{
	opacity: 0.5;
}
.opacity7{
	opacity:0.7;
