<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Profile</title>
  <link rel="stylesheet" href="css/styleresponsive.css">
  <link rel="stylesheet" href="css/mediaQ.css">
  <script src="js/icons.js"></script>
  <link rel="shortcut icon" href="assets/icons/stackIcon.png" type="image/x-icon">
</head>

<body>
  <hr class="headerLine">
  <div class="header spaceevenly">
    <div class="headerLogo">
      <img class="main-Logo" src="assets/images/mainLogo.png">
    </div>
    <div class="headerContents spaceevenly">
      <div>
        <span>About</span>
      </div>
      <div>
        <span>Products</span>
      </div>
      <div>
        <span>For Teams</span>
      </div>
    </div>
    <div class="headerSearch">
      <input type="search" class="searchBar" value="user:217408">
    </div>
    <div class="headerRight spaceevenly">
      <div class="button">
        Log in
      </div>
      <div class="button">
        sign up
      </div>
    </div>
  </div>
  <!--Main-->
  <div class="mainContainer flex">
    <div class="leftMainContainer">
      <div class="home"><a href="">Home</a></div>
      <div class="public">
        <div class="menuHeader"><span>PUBLIC</span></div>
        <div class="menuSub">
          <i class="fa-solid fa-earth-asia firstIcon"></i>
          <a href="">Questions</a>
        </div>
        <div class="menuSub">
          <i class="fa-solid fa-earth-asia hidden"></i>
          <a href="">Tags</a>
        </div>
        <div class="menuSub active">
          <i class="fa-solid fa-earth-asia hidden"></i>
          <a href="">Users</a>
        </div>
      </div>
      <div class="collectives">
        <div class="menuHeader"><span>COLLECTIVES</span><i class="fa-solid fa-circle-info infoIcon"></i></div>
        <div class="menuSub">
          <i class="fa-solid fa-certificate"></i>
          <a href="">Explore Collectives</a>
        </div>
      </div>
      <div class="jobs">
        <div class="menuHeader"><span>FIND A JOB</span></div>
        <div class="menuSub">
          <i class="fa-solid fa-earth-asia hidden"></i>
          <a href="">Jobs</a>
        </div>
        <div class="menuSub">
          <i class="fa-solid fa-earth-asia hidden"></i>
          <a href="">Companies</a>
        </div>
      </div>
      <div class="teams">
        <div class="menuHeader"><span class="teamHeader">TEAMS</span></div>
        <div class="hr">
        <div class="teamP"><p><span>Stack Overflow for <br>Teams</span> – Collaborate and share knowledge with a private group.</p></div>
        <div class="teamImg"><img alt="Join with Us" src="assets/images/teams.png"></div>
        <div class="teamButton"><button class="freeTeam">Create a Free Team</button></div>
        <div class="teamLast"><a href="">What is Teams?</a></div>
        </div>
      </div>
    </div>
    <div class="rightMainContainer">
      <div class="rightMainTop">
        <div class="userDetails">
          <div class="profileDp"></div>
          <div class="profileDetails">
            <div class="profileName">Günter Zöchbauer</div>
            <div class="profileQual">BSc.</div>
            <div class="profileExp"><i class="fa-solid fa-cake-candles"></i>
              Member for 12 years, 4 months <i class="fa-regular fa-clock"></i> Last seen this week
            </div>
            <div class="profilePlace">
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-github"></i>
              <i class="fa-solid fa-location-dot"></i>
              Linz, Austria
            </div>
          </div>
        </div>
        <div class="leftProfile">
          <form>
            <select class="profileSelect">
              <option hidden>Profiles</option>
            </select>
          </form>
        </div>
        <!-- <div class="clear"></div> -->
      </div>
      <div class="rightMainSecond">
        <div class="pro">Profile</div>
        <div class="acti">Activity</div>
        <!-- <div class="clear"></div> -->
      </div>
      <div class="rightMainThird">
        <div class="leftSection">
          <div class="stats">
            <div class="leftSectionHead"><span>Stats</span></div>
            <div class="leftSectionCon">
              <div class="leftConRow">
                <div class="leftConCol">545,352<br><span>reputation</span></div>
                <div class="leftConCol">74.8m <br><span>Reached</span></div>
                <!-- <div class="clear"></div> -->
              </div>
              <div class="leftConRow">
                <div class="leftConCol">9,317<br><span>answers</span></div>
                <div class="leftConCol">74.8m <br><span>Reached</span></div>
                <!-- <div class="clear"></div> -->
              </div>
              <div class="leftConRowFinal">
                <div class=""><i class="fa-solid fa-trophy"></i><br><span class="leftspan">top 0.01% this quarter</span></div>
                <!-- <div class="clear"></div> -->
              </div>
            </div>
          </div>
          <div class="stats">
            <div class="communitiesHead">
              <div class="leftSectionHead"><span>Communities</span></div>
              <div class="leftSectionHead va"><span>View all  </span><i class="fa-solid fa-arrow-up-right-from-square"></i></div>
              <!-- <div class="clear"></div>  -->
            </div>
            <div class="leftSectionCon">
              <div class="leftSectionLinks spacebetween">
                <a>
                  <div class="flex">
                    <div class="leftLinkImg StackOverFlow"></div>
                    <div class="leftLinkname">Stack Overflow</div>
                  </div>
                </a>
                <div class="leftLinkvisitor">545.4k</div>
                <!-- <div class="clear"></div> -->
              </div>
              <div class="leftSectionLinks spacebetween">
                <a>
                  <div class="flex">
                    <div class="leftLinkImg superUser"></div>
                    <div class="leftLinkname">Super User</div>
                  </div>
                </a>
                <div class="leftLinkvisitor">692</div>
                <!-- <div class="clear"></div> -->
              </div>
              <div class="leftSectionLinks spacebetween">
                <a>
                  <div class="flex">
                    <div class="leftLinkImg meta"></div>
                    <div class="leftLinkname">Meta Stack Exchange</div>
                  </div>
                </a>
                <div class="leftLinkvisitor">181</div>
                <!-- <div class="clear"></div> -->
              </div>
              <div class="leftSectionLinks spacebetween">
                <a>
                  <div class="flex">
                    <div class="leftLinkImg area51"></div>
                    <div class="leftLinkname">Area 51</div>
                  </div>
                </a>
                <div class="leftLinkvisitor">151</div>
                <!-- <div class="clear"></div> -->
              </div>
              <div class="leftSectionLinks spacebetween">
                <a>
                  <div class="flex">
                    <div class="leftLinkImg pfam"></div>
                    <div class="leftLinkname">Personal Finance & Money</div>
                  </div>
                </a>
                <div class="leftLinkvisitor">143</div>
                <!-- <div class="clear"></div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="mainSection">
          <div class="leftSectio nHead firstHeader"><span class="font22">About</span></div>
          <div class="mainSectionGPro">Google+ Profil: <a href="">https://twitter.com/gzoechi</a></div>
          <div class="list">
            <ul class="paddingleft15"><li class="font16 margin0">I'm an enthusiastic and experienced</li></ul>
            <ul>
              <li class="font16">software engineer</li>
              <li class="font16">sortware architect</li>
              <li class="font16">developer</li>
              <li class="font16">consultant</li>
              <li class="font16 bold">looking for clients projects</li>
            </ul>
            <ul class="a">
              <li class="font16">I focus on <span class="font16 bold">custom line of business applications</span> with Dart, Flutter, Angular (mobile, browser, server)</li>
            </ul>
            <ul class="paddingleft15"><li class="font16">I have also a lot of experience with</li></ul>
            <ul>
              <li class="font16">TypeScript</li>
              <li class="font16">CSS</li>
              <li class="font16">.NET/C# , Java, Dynamics AX ERP</li>
              <li class="font16">databases (SQL, Firebase)</li>
              <li class="font16">OSX, Linux, Windows</li>
              <li class="font16">and many more</li>
            </ul>
          </div>
          <div class="badges">
            <div class="spacebetween">
              <div class="leftSectionHead firstHeader"><span class="font22">Badges</span></div>
              <div class=""><span class="opacity5">View all Badges</span></div>
            </div> 
            <!-- <div class="clear"></div> -->
            <div class="spacebetween badgeboxes">
              <div class="badgebox">
                <div class="flex">
                  <div class=""><i class="fa-solid fa-jedi font40 gold"></i></div>
                  <div class="badgeName"><span class="font25 bold">185</span><br><span class="">gold Badges</span></div>
              </div>
                <!-- <div class="clear"></div> -->
                <div class="badgeCon spacebetween">
                  <div class="angular flex">
                    <div class="yellowcircle"></div>
                    <div class="angcon">angular2-routing</div>
                  <!-- <div class="clear"></div> -->
                  </div>
                  <div class="date">Jun 7, 2017</div>
                  <!-- <div class="clear"></div> -->
                </div>
                <div class="badgeCon spacebetween">
                  <div class="angular flex">
                    <div class="yellowcircle"></div>
                    <div class="angcon">angular2-template</div>
                  <!-- <div class="clear"></div> -->
                  </div>
                  <div class="date">Jul 29, 2017</div>
                  <!-- <div class="clear"></div> -->
                </div>
                <div class="badgeCon spacebetween">
                  <div class="angular flex">
                    <div class="yellowcircle"></div>
                    <div class="angcon">angular2-directives</div>
                  <!-- <div class="clear"></div> -->
                  </div>
                  <div class="date">May 13, 2017</div>
                  <!-- <div class="clear"></div> -->
                </div>
              </div>
              <div class="badgebox">
                <div class="flex">
                  <div class=""><i class="fa-solid fa-jedi font40 opacity5"></i></div>
                  <div class="badgeName"><span class="font25 bold">1878</span><br><span class="">silver badges</span></div>
                </div>
                <!-- <div class="clear"></div> -->
                <div class="badgeCon spacebetween">
                  <div class="angular flex">
                    <div class="yellowcircle left"></div>
                    <div class="angcon left">dart-polymer</div>
                  <!-- <div class="clear"></div> -->
                  </div>
                  <div class="date">Oct  25, 2014</div>
                  <!-- <div class="clear"></div> -->
                </div>
                <div class="badgeCon spacebetween">
                  <div class="angular flex">
                    <div class="yellowcircle"></div>
                    <div class="angcon">angular2-forms</div>
                  <!-- <div class="clear"></div> -->
                  </div>
                  <div class="date">Mar 31, 2017</div>
                  <!-- <div class="clear"></div> -->
                </div>
                <div class="badgeCon spacebetween">
                  <div class="angular flex">
                  <div class="yellowcircle"></div>
                  <div class="angcon">angular-dart</div>
                  <!-- <div class="clear"></div> -->
                  </div>
                  <div class="date">Jul 3, 2016</div>
                  <!-- <div class="clear"></div> -->
                </div>
              </div> 
              <div class="badgebox">
                <div class="flex">
                  <div class=""><i class="fa-solid fa-jedi font40 bronze"></i></div>
                  <div class="badgeName"><span class="font25 bold">1489</span><br><span class="">bronze badges</span></div>
                </div>
                <!-- <div class="clear"></div> -->
                <div class="badgeCon spacebetween">
                  <div class="angular flex">
                  <div class="yellowcircle"></div>
                  <div class="angcon">angular2-compone...</div>
                  <!-- <div class="clear"></div> -->
                  </div>
                  <div class="date">Apr 21, 2017</div>
                  <!-- <div class="clear"></div> -->
                </div>
                <div class="badgeCon spacebetween">
                  <div class="angular flex">
                    <div class="yellowcircle"></div>
                    <div class="angcon">angular2-pipe</div>
                  <!-- <div class="clear"></div> -->
                  </div>
                  <div class="date">Sep 14, 2017</div>
                  <!-- <div class="clear"></div> -->
                </div>
                <div class="badgeCon spacebetween">
                  <div class="angular flex">
                    <div class="yellowcircle"></div>
                    <div class="angcon">dart-pub</div>
                  <!-- <div class="clear"></div> -->
                  </div>
                  <div class="date">Feb 22, 2015</div>
                  <!-- <div class="clear"></div> -->
                </div>
              </div>
            </div>
            <!-- <div class="clear"></div> -->
          </div>
          <div class="tags">
            <div class="spacebetween">
              <div class="leftSectionHead firstHeader"><span class="font22">Top tags</span></div>
              <div class=""><span class="opacity5">View all tags</span></div>
            </div>
            <!-- <div class="clear"></div> -->
            <div class="tagsbox">
              <div class="tagcol spacebetween">
                <div class="flex">
                  <div class="tagcolcon">angular</div>
                  <div class="tagcircle"></div>
                </div>
                <div class="flex">
                  <div class="rcol font16">59 <span class="opacity5">posts %</span></div>
                  <div class="rcol font16">5,576<span class="opacity5">posts</span></div>
                  <div class="rcol font16">58,934 <span class="opacity5">score</span></div>
                </div>
                <!-- <div class="clear"></div> -->
              </div>
              <div class="tagcol spacebetween">
                <div class="flex">
                  <div class="tagcolcon">dart</div>
                  <div class="tagcircle"></div>
                </div>
                <div class="flex">
                  <div class="rcol font16">35 <span class="opacity5">posts %</span></div>
                  <div class="rcol font16">3,312<span class="opacity5">posts</span></div>
                  <div class="rcol font16">18,454 <span class="opacity5">score</span></div>
                </div>
                <!-- <div class="clear"></div> -->
              </div>
              <div class="tagcol spacebetween">
                <div class="flex">
                  <div class="tagcolcon">typescript</div>
                  <div class="tagcircle"></div>
                </div>
                <div class="flex">
                  <div class="rcol font16">14 <span class="opacity5">posts %</span></div>
                  <div class="rcol font16">1,300<span class="opacity5">posts</span></div>
                  <div class="rcol font16">13,220 <span class="opacity5">score</span></div>
                </div>
                <!-- <div class="clear"></div> -->
              </div>
              <div class="tagcol spacebetween">
                <div class="flex">
                  <div class="tagcolcon">flutter</div>
                  <div class="tagcircle"></div>
                </div>
                <div class="flex">
                  <div class="rcol font16">10 <span class="opacity5">posts %</span></div>
                  <div class="rcol font16">907<span class="opacity5">posts</span></div>
                  <div class="rcol font16">12,028 <span class="opacity5">score</span></div>
                </div>
                <!-- <div class="clear"></div> -->
              </div>
              <div class="tagcol spacebetween">
                <div class="flex">
                  <div class="tagcolcon">javascript</div>
                  <div class="tagcircle"></div>
                </div>
                <div class="flex">
                  <div class="rcol font16">12 <span class="opacity5">posts %</span></div>
                  <div class="rcol font16">1,087<span class="opacity5">posts</span></div>
                  <div class="rcol font16">8,635 <span class="opacity5">score</span></div>
               </div>
                <!-- <div class="clear"></div> -->
              </div>
              <div class="tagcol spacebetween">
                <div class="flex">
                  <div class="tagcolcon">angular2-routing</div>
                  <div class="tagcircle"></div>
                </div>
                <div class="flex">
                  <div class="rcol font16">5<span class="opacity5">posts %</span></div>
                  <div class="rcol font16">426<span class="opacity5">posts</span></div>
                  <div class="rcol font16">3,890 <span class="opacity5">score</span></div>
               </div>
                <!-- <div class="clear"></div> -->
              </div>
            </div>
          </div>
          <div class="tags">
            <div class="leftSectionHead firstHeader left"><span class="font22">Top posts</span><br>
              <span id="font12" class="opacity5 font12">View all </span>questions, answers, 
              <span class="opacity5 font12">and</span> articles</div>
            <div class="right">
              <div class="scoreNewest">
                <div class="left sn activeScore">Score</div>
                <div class="left sn opacity5">Newest</div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="right">
              <div class="scoreNewest">
                <div class="left sn activeScore">All</div>
                <div class="left sn opacity5">Questions</div>
                <div class="left sn opacity5">Answers</div>
                <div class="left sn opacity5">Articles</div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="clear"></div>
            <!-- <div class="tagsbox">
              <div class="tagcol">
                <div class="left"><div class=" msga"></div></div>
                <div class="left postnum">1896</div>
                <div class="left postlink"><a class="" href="">what-is-the-difference-between-promises-and-observables</a></div>
                <div class="right postdate opacity5">May 21, 2016</div>
                <div class="clear"></div>
              </div>
              <div class="tagcol">
                <div class="left"><div class=" msga"></div></div>
                <div class="left postnum">1896</div>
                <div class="left postlink"><a class="" href="">How can I select a element un a component template?</a></div>
                <div class="right postdate opacity5">Feb 4, 2016</div>
                <div class="clear"></div>
              </div>
              <div class="tagcol">
                <div class="left"><div class=" msga"></div></div>
                <div class="left postnum">1896</div>
                <div class="left postlink"><a class="" href="">What is the equivalent of ngShow and ngHide in Angular 2+?</a></div>
                <div class="right postdate opacity5">May 21, 2016</div>
                <div class="clear"></div>
              </div>
              <div class="tagcol">
                <div class="left"><div class=" msga"></div></div>
                <div class="left postnum">1896</div>
                <div class="left postlink"><a class="" href="">Binding select element to object in Angular</a></div>
                <div class="right postdate opacity5">May 21, 2016</div>
                <div class="clear"></div>
              </div>
              <div class="tagcol">
                <div class="left"><div class=" msga"></div></div>
                <div class="left postnum">1896</div>
                <div class="left postlink"><a class="" href="">*ngIf and *ngFor on same element causing error</a></div>
                <div class="right postdate opacity5">May 21, 2016</div>
                <div class="clear"></div>
              </div>
              <div class="tagcol">
                <div class="left"><div class=" msga"></div></div>
                <div class="left postnum">1896</div>
                <div class="left postlink"><a class="" href="">How to add conditional attribute in Angular 2?</a></div>
                <div class="right postdate opacity5">May 21, 2016</div>
                <div class="clear"></div>
              </div>
              <div class="tagcol">
                <div class="left"><div class=" msga"></div></div>
                <div class="left postnum">1896</div>
                <div class="left postlink"><a class="" href="">Angular window resize event</a></div>
                <div class="right postdate opacity5">May 21, 2016</div>
                <div class="clear"></div>
              </div>
              <div class="tagcol">
                <div class="left"><div class=" msga"></div></div>
                <div class="left postnum">1896</div>
                <div class="left postlink"><a class="" href="">What is the difference between declarations, providers, and import in NgModule?</a></div>
                <div class="right postdate opacity5">May 21, 2016</div>
                <div class="clear"></div>
              </div>
              <div class="tagcol">
                <div class="left"><div class=" msga"></div></div>
                <div class="left postnum">1896</div>
                <div class="left postlink"><a class="" href="">How can I write data attributes using Angular?</a></div>
                <div class="right postdate opacity5">May 21, 2016</div>
                <div class="clear"></div>
              </div>
              <div class="tagcol">
                <div class="left"><div class=" msga"></div></div>
                <div class="left postnum">1896</div>
                <div class="left postlink"><a class="" href="">How to pass query parameters with a routerLink</a></div>
                <div class="right postdate opacity5">May 21, 2016</div>
                <div class="clear"></div>
              </div>
            </div> -->
          </div>
          <!-- <div class="tags">
            <div class="leftSectionHead firstHeader left"><span class="font22">Top Meta posts</span></div>
            <div class="right">
              <div class="QA">
                <div class="left mp"><div class=" msgq left"></div><span class="opacity5"> 7</span></div>
                <div class="left "><div class=" msgba left"></div> <span class="opacity5"> 0</span></div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="clear"></div>
            <div class="tagsbox">
              <div class="tagcol">
                <div class="left metaPostLogo stackmeta"></div>
                <div class="left metapostnum">98</div>
                <div class="left postlink"><a class="" href="">Code snippets are a pest</a></div>
                <div class="clear"></div>
              </div>
              <div class="tagcol">
                <div class="left metaPostLogo stackmeta"></div>
                <div class="left metapostnum">98</div>
                <div class="left postlink"><a class="" href="">Code snippets are a pest</a></div>
                <div class="clear"></div>
              </div>
              <div class="tagcol">
                <div class="left metaPostLogo stackmeta"></div>
                <div class="left metapostnum">98</div>
                <div class="left postlink"><a class="" href="">Code snippets are a pest</a></div>
                <div class="clear"></div>
              </div>
              <div class="tagcol">
                <div class="left metaPostLogo stackmeta"></div>
                <div class="left metapostnum">98</div>
                <div class="left postlink"><a class="" href="">Code snippets are a pest</a></div>
                <div class="clear"></div>
              </div>
              <div class="tagcol">
                <div class="left metaPostLogo stackmeta"></div>
                <div class="left metapostnum">98</div>
                <div class="left postlink"><a class="" href="">Code snippets are a pest</a></div>
                <div class="clear"></div>
              </div>
            </div>
          </div> -->
          <!-- <div class="tags">
            <div class="leftSectionHead firstHeader left"><span class="font22">Top Meta posts</span></div>
            <div class="right"><span class="opacity5">View all Network posts</span></div>
            <div class="clear"></div>
            <div class="tagsbox">
              <div class="tagcol">
                <div class="left metaPostLogo suser"></div>
                <div class="left metapostnum">98</div>
                <div class="left postlink"><a class="" href="">Code snippets are a pest</a></div>
                <div class="clear"></div>
              </div>
              <div class="tagcol">
                <div class="left metaPostLogo pers"></div>
                <div class="left metapostnum">98</div>
                <div class="left postlink"><a class="" href="">Code snippets are a pest</a></div>
                <div class="clear"></div>
              </div>
            </div>
          </div> -->
        </div>
        <!-- <div class="clear"></div> -->
      </div>
    </div>
    <!-- <div class="clear"></div> -->
  </div>

</body>

</html>